/* Light Mode  */
:root {
  --bg-color: rgb(225, 221, 221);
  --text-color: rgb(31, 31, 31);
  --link-color: blueviolet
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: monospace;
}

a {
  text-decoration: none;
  color: var(--link-color)
}

a:focus,
a:hover {
  text-decoration: underline;
}

/* nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
}

nav li:not(:first-child) {
  margin-left: 0.75rem;
} */
