body {
  font-family: monospace;
}

a {
  text-decoration: none;
  color: blueviolet;
}

a:focus,
a:hover {
  text-decoration: underline;
}

/* nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
}

nav li:not(:first-child) {
  margin-left: 0.75rem;
} */
